{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10.15.3"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".ts"],
        "root": ["./src"]
      }
    ]
  ]
}
